<app-navbar></app-navbar>
<p class="h1 text-center mt-2">Bienvenido {{usuario.nombre_completo}}!</p>
<ul class="nav nav-tabs mt-4" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="crear-usuario-tab" data-bs-toggle="tab" data-bs-target="#crear-usuario"
      type="button" role="tab" aria-controls="crear-usuario" aria-selected="true">Crear</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="lista-usuario-tab" data-bs-toggle="tab" data-bs-target="#lista-usuario" type="button"
      role="tab" aria-controls="lista-usuario" aria-selected="false">Lista</button>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="crear-usuario" role="tabpanel" aria-labelledby="crear-usuario-tab">
    <app-register-user></app-register-user>
  </div>
  <div class="tab-pane fade" id="lista-usuario" role="tabpanel" aria-labelledby="lista-usuario-tab"
    *ngIf="!seeUserDetails">
    <app-list-user (seeUserDetails)="onClickSeeUserDetails($event)" (id)="getId($event)"
      (rol)="getRol($event)"></app-list-user>
    <app-list-proveedor (seeUserDetails)="onClickSeeUserDetails($event)" (id)="getId($event)"
      (rol)="getRol($event)"></app-list-proveedor>
    <app-list-cliente (seeUserDetails)="onClickSeeUserDetails($event)" (id)="getId($event)"
      (rol)="getRol($event)"></app-list-cliente>
  </div>
  <div class="tab-pane fade" id="lista-usuario" role="tabpanel" aria-labelledby="lista-usuario-tab"
    *ngIf="seeUserDetails">
    <app-user-details [id]="id" [rol]="rol" (seeUserDetails)="onClickSeeUserDetails($event)"></app-user-details>
  </div>
</div>