<div class="px-5 mt-2">
  <p class="h1 text-center">Clientes</p>
  <table datatable [dtOptions]="dtOptions" class="table table-bordered mt-3" id="tablaUsuario" *ngIf="clientes">
    <thead>
      <tr>
        <th scope="col" class="text-center">NIT</th>
        <th scope="col" class="text-center">Nombre</th>
        <th scope="col" class="text-center">Telefono</th>
        <th scope="col" class="text-center">Ciudad</th>
        <th scope="col" class="text-center">Dirección</th>
        <th scope="col" class="text-center">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cliente of clientes">
        <td>{{cliente.clienteNit}}</td>
        <td>{{cliente.cliente_nombre}}</td>
        <td>{{cliente.cliente_telefono}}</td>
        <td>{{cliente.cliente_ciudad}}</td>
        <td>{{cliente.cliente_direccion}}</td>
        <td class="d-flex justify-content-center">
          <button class="btn btn-warning" (click)="updateCliente(cliente.clienteNit)">Editar</button>
          <button class="btn btn-danger mx-4" (click)="deleteCliente(cliente.clienteNit)">Eliminar</button>
          <button class="btn btn-primary" (click)="getUserDetails(cliente.clienteNit)">Detalles</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>